.features {
	width: 60%;
	margin: 0 auto;
	margin-top: 7%;
    padding-bottom: 3%;
    margin-bottom: 20px;//delete

	border-bottom: 2px solid #eeeeee;

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 'Dosis Medium', sans-serif;
		font-size: 24px;
		line-height: 24px;
	}

	&__text {
		font-weight: 'Roboto Ligth', sans-serif;
		font-size: 14px;
		line-height: 24px;
	}
}

.features__list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.features__item {
	position: relative;
	width: 36%;
	margin-left: 8%;
	margin-bottom: 45px;

	&::before {
		content: "";
	    position: absolute;
	    top: 10px;
	    left: -29%;
	    width: 70px;
	    height: 70px;
	    background: url('../img/sprite.png') no-repeat;
	    background-position: 7px -585px;
	    border: 1px solid #eeeeee;
	    border-radius: 100%;
	}
}

.features__item--customize::before {
	content: "";
    background: url('../img/sprite.png') no-repeat;
    background-position: 9px -639px;
}

.features__item--color::before {
	content: "";
    background: url('../img/sprite.png') no-repeat;
    background-position: 7px -693px;
}

.features__item--responsive::before {
	content: "";
    background: url('../img/sprite.png') no-repeat;
    background-position: -17px -773px;
}

.features__item--convert::before {
	content: "";
    background: url('../img/sprite.png') no-repeat;
    background-position: 10px -853px;
}

.features__item--boundaries::before {
	content: "";
    background: url('../img/sprite.png') no-repeat;
    background-position: 7px -911px;
}