.portfolio {
	margin-top: 12%;

	font-family: 'Roboto Light', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #777777;
	text-align: center;
	
	background: #f7fafc;
	border-top: 1px solid transparent;

	&__inner {
		position: relative;
		margin: 0 auto;
		border-top: 1px solid transparent;
	}

	&__title {
	    margin-top: 10%;
	    margin-bottom: 4%;

		font-family: 'Dosis Medium', sans-serif;
		font-size: 36px;
		line-height: 36px;
		color: #000000;
	}

	&__text {
		margin: 0 auto;
	}
}

#carousel {
	position:relative;
	padding-bottom: 40px;
	margin: 0 auto;
	height: 450px;
	clear:both;
	overflow:hidden;
	background: #f7fafc;
}

#carousel div {
	visibility:hidden; 
	cursor:pointer; 
}

#carousel h2 {
	position: absolute;
	top: 10px;
	left: 10px;
}

.carousel__img {
	width: 250px;
}

.carousel-arrow {
	display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #eeee;
	background: #ffffff;

    //background: #fd712c; // для старых браузеров
	//background: linear-gradient(to left, #ee1d73, #fd712c);
}

.carousel-arrow:hover {
	border: 3px solid #eeee;
	background: #fd712c; // для старых браузеров
	background: linear-gradient(to left, #ee1d73, #fd712c);
}

.carousel-arrow--prev {
	position: absolute;
    left: 25%;
    bottom: 35px;

    &::before {
		content: "";
	    display: block;
	    position: relative;
	    top: 15px;
	    left: 11px;
	    width: 26px;
	    height: 21px;
	    background: url(../img/arrow.png) no-repeat;
	    background-position: -14px -122px;
	}
}

.carousel-arrow--prev:hover::before {
	content: "";
	background: url(../img/arrow.png) no-repeat;
  	background-position: -14px -176px;
}

.carousel-arrow--next {
	position: absolute;
	right: 25%;
    bottom: 35px;

    &::before {
		content: "";
	    display: block;
	    position: relative;
	    top: 15px;
	    left: 11px;
	    width: 25px;
	    height: 20px;
	    background: url(../img/arrow.png) no-repeat;
	    background-position: -15px -16px;
	}
}

.carousel-arrow--next:hover::before {
	content: "";
	background: url(../img/arrow.png) no-repeat;
  	background-position: -15px -70px;
}

@media (min-width: 900px) {
	.portfolio__text {
		width: 71%;
	}
}

@media (min-width: 1000px) {
	.portfolio {
		margin-top: 10%;
	}

	.portfolio__text {
		width: 64%;
	}

	#carousel {
		width: 80%;
		padding-bottom: 0;
	}

	.carousel-arrow--prev {
		position: absolute;
		top: 60%;
	    left: 5%;
	}

	.carousel-arrow--next {
		position: absolute;
		top: 60%;
		right: 5%;
	}
}

@media (min-width: 1300px) {
	.portfolio {
		margin-top: 7%;
	}

	.portfolio__title {
		margin-top: 8%;
    	margin-bottom: 3%;
	}

	.portfolio__text {
		width: 55%;
	}

	.carousel-arrow--prev {
	    left: 15%;
	}

	.carousel-arrow--next {
		right: 15%;
	}
}