.price {
	font-family: 'Roboto Light', sans-serif;
	font-size: 14px;
	line-height: 24px;
	border-top: 1px solid transparent;

	&__title {
	    margin-top: 14%;
		font-family: 'Dosis Medium', sans-serif;
		font-size: 36px;
		line-height: 36px;
		text-align: center;
	}

	&__text {
	    width: 83%;
	    margin: 0 auto;
	    margin-bottom: 30px;
    	text-align: center;
		color: #777777;
	}
}

.price-list {
    padding: 0;
    list-style: none;

    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-list__item {
	width: 250px;
	margin: auto;
	margin-bottom: 20px;

	background: #f7fafc;
}

.price-list__title {
	font-family: 'Dosis Medium', sans-serif;
	font-size: 20px;
	line-height: 24px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	background: #f7fafc;
}

.price-list__cost {
	position: relative;
	margin-left: 15px;
    font-family: 'Dosis Medium', sans-serif;
    font-size: 48px;
    line-height: 24px;
    background: #ffffff;
    margin-top: 0px;
    padding: 40px 0;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;

    margin-bottom: 14%;

    &::before {
		content: "";
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    /* width: 50%; */
	    /* height: 8%; */
	    border: 28px solid transparent;
	    border-bottom: 7px solid #f7fafc;
	    border-left: 97px solid #f7fafc;
	}

    &::after {
		content: "";
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    border: 28px solid transparent;
	    border-right: 97px solid #f7fafc;
	    border-bottom: 7px solid #f7fafc;
	}
}

.price-list__cost .dollar {
	font-size: 20px;
    position: relative;
    top: -20px;
    left: 0;
}

.price-list__cost .megabait {
	font-size: 20px;
}

.price-list__characteristics {
    width: 80%;
    margin: 0 auto;
}

.price-list__characteristics span {
	padding: 3px 0;

	font-family: 'Roboto Ligth', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #777777;

	display: block;
    text-align: center;
    border-bottom: 1px dashed #aaaaaa;

    &:nth-last-child(1) {
		border-bottom: none;
	}
}

.price-list__link-label {
	display: block;
	font-family: 'Roboto Ligth', sans-serif;
	font-size: 14px;

    text-align: center;
    margin-top: 35px;
    color: #aaaaaa;
}

.price-list__link {
	display: block;
    width: 100px;
    padding: 8px 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;

    font-family: 'Roboto Medium', sans-serif;
    font-size: 15px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    border: 1px solid #eeee;
    border-radius: 25px;
}

// активная каточка
.price-list__item--active {
	box-shadow: rgb(0, 0, 0) 0px 5px 39px -12px;

	& .price-list__cost {
		color: #ffffff;
		background: #fd712c; // для старых браузеров
		background: linear-gradient(to left, #ee1d73, #fd712c);
	}

	& .price-list__link {
		color: #ffffff;
		border: 3px solid #eeee;
		background: #fd712c; // для старых браузеров
		background: linear-gradient(to left, #ee1d73, #fd712c);
	}
}

@media (min-width: 500px) {
	.price__title {
		width: 90%;
	    margin: auto;
	    margin-top: 14%;
	    margin-bottom: 5%;
	}
}

@media (min-width: 1000px) {
	.price-list {
		width: 60%;
	}
}

@media (min-width: 1200px) {
	.price {
		width: 80%;
		margin: auto;
	}

	.price__list {
		width: 70%;
	}
}

@media (min-width: 1300px) {
	.price {
		width: 100%;
	}

	.price-list {
		width: 80%;
	}

	.price__title {
		margin-top: 10%;
    	margin-bottom: 3%;
	}

	.price__text {
    	width: 51%;
    	margin-bottom: 60px;
	}
}